<!-- /* ******************************************
 * WEB222NGG
 * Assignment 2
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: October 24, 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */ -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>WEB322 Assignment</title>
  </head>
  <body> 
      {{> header user}}      

       <!-- searching form -->
        <div class="container">
            <div class="col-sx-6" id="search-bar">
            <h2> Book great places to stay</h2>
            <form class="form-wrapper" action="/rooms" method="GET">                            
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="location">WHERE</label>
                        <input id="location" name="location" type="text" class="form-control" list="cities" placeholder="Where are you going?" tabindex="1">
                        <datalist id="cities">
                            <option value="Toronto"></option>
                            <option value="Edmonton"></option>
                            <option value="Hamilton"></option>
                            <option value="London"></option>
                            <option value="Mississauga"></option>
                            <option value="Brampton"></option>
                            <option value="Markham"></option>
                            <option value="Richmond Hill"></option>
                            <option value="Vancouver"></option>
                            <option value="Ottawa"></option>
                            <option value="Montreal"></option>
                            <option value="Calgary"></option>
                            <option value="Victoria"></option>
                            <option value="Quebec"></option>
                            <option value="Saskatoon"></option>
                        </datalist>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="check-in">CHECK-IN</label>
                        <input id="check-in" name="check-in" type="date" class="form-control" tabindex="2">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="checkout">CHECKOUT</label>
                        <input id="checkout" name="checkout" type="date" class="form-control" tabindex="3">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="guests">GUESTS</label>
                        <input id="guests" name="guests" type="number" min="1" class="form-control" placeholder="Add guests" tabindex="4">
                    </div>
        
                    <div class="form-group col-md-1">
                        <label for="search" class="button-label">Submit</label>                                       
                        <input name="search" type="submit" class="btn btn-custom" id="search-bar-btn" tabindex="5" value="Search">                                                                               
                    </div>
                </div>      
            </form>
            </div>
        </div>

        <!-- Heading -->
        <div class="col-12 text-center mt-5">         
            {{#if hasRooms}}
                <h1 class="text-dark pt-2">Room Listing</h1>
                <div class="border-top border-primary w-25 mx-auto my-3"></div>
                <div class="lead">Looking for a great place to stay</div>
            {{else}}
                <h1 class="text-dark pt-2">There is no room to display</h1>
                <div class="border-top border-primary w-25 mx-auto my-3"></div>
            {{/if}}
        </div>

        <!-- Room listing section -->   
        <div class="container">
            <div class="row justify-content-center">
                {{#if hasRooms}} {{#each rooms}}
                <div class="col-12 col-sm-6 col-md-4 py-4">
                    <div class="card h-100">
                        <a href="/details">
                            <img src="images/{{photos.0.fileName}}" alt="Room picture" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <p class="card-text">{{guest}} guest | {{type}}</p>
                            <p class="card-text"><b>${{price}} CAD</b>/night</p>                            
                        </div>
                    </div>
                </div>    
            {{/each}}   {{/if}} 
            </div>                       
        </div>       

        {{> footer}}

        <!-- jQuery, Popper.js, Bootstrap JS, Font Awesome JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>
</html>
