<!-- /* ******************************************
 * WEB222NGG
 * Assignment
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: Nov 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */ -->

<!doctype html>
<html lang="en">
  {{>head}}
  <body> 
      {{> header user}}      

       <!-- searching form -->
       
       {{#unless user.isAdmin}}       
        {{!-- search form --}}
        {{> search}}
        {{/unless}}
        <!-- Heading -->
        <div class="col-12 text-center mt-5">         
            {{#if hasRooms}}
                <h1 class="text-dark pt-2">Room Listing</h1>
                <div class="border-top border-primary w-25 mx-auto my-3"></div> 
                {{#if user.isAdmin}}
                    <h1 class="text-dark pt-2">Admin</h1>
                {{/if}}                 
            {{else}}
                <h1 class="text-dark pt-2">There is no room to display</h1>
                <div class="border-top border-primary w-25 mx-auto my-3"></div>
            {{/if}}
        </div>

        <!-- Room listing section -->   
        <div class="container">
            <div class="row justify-content-center">
                {{#if hasRooms}} {{#each rooms}}                
                    <div class="col-12 col-sm-6 col-md-4 py-4">
                        <div class="card h-100">
                            {{#if ../user.isAdmin}}
                                <img src="/images/{{photos.[0]}}" onerror="this.src='/photos/{{photos.[0]}}'" alt="{{photos.[0]}}" class="card-img-top">
                            {{else}}
                                <a href="/rooms/{{_id}}">
                                    <img src="/images/{{photos.[0]}}" onerror="this.src='/photos/{{photos.[0]}}'" alt="{{photos.[0]}}" class="card-img-top">
                                </a>
                            {{/if}}
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>                                                               
                                <p class="card-text">{{guest}} guest | {{type}} | <i>{{city}}</i></p>
                                <p class="card-text"><b>${{price}} CAD</b>/night</p> 

                                {{!-- admin options --}}
                                {{#if ../user.isAdmin}}
                                <div class="row justify-content-between">                                    
                                    <a href="#modalDelete" class="trigger-btn" data-toggle="modal" data-target=".modalDelete{{@index}}">
                                        <i class="fas fa-trash-alt icon"></i>
                                    </a>                              
                                   
                                    <a href="/{{_id}}/photos" class="nav-link btn-light" role="button">View Photos</a>
                                   <a href="/{{_id}}/photos/Add" class="nav-link btn-light" role="button">Add Photo</a>
                                    <a href="/rooms/Edit/{{_id}}">
                                        <i class="fas fa-edit icon"></i>
                                    </a>                                 
                                </div>
                                <div class="modal fade modalDelete{{@index}}">
                                    <div class="modal-dialog modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header flex-column"> 
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                                           					
                                                <h4 class="modal-title w-100">Are you sure?</h4> 
                                            </div>
                                            <form action="/rooms/Delete/{{this._id}}" method="POST">
                                                <div class="modal-body">
                                                    <p>Do you really want to delete this record? This process cannot be undone.</p>                                                    
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>                                            
                                        </div>
                                    </div>
                                </div>
                                {{/if}}                                                                                  
                            </div>
                        </div>
                    </div>    
            {{/each}}   {{/if}} 
            </div>                       
        </div>       

        {{> footer}}
        {{> script}}
        
    </body>
</html>
