<!-- /* ******************************************
 * WEB222NGG
 * Assignment
 * Name: Thi My Phuc Huynh (Mindy).
 * Student ID: 149792186.
 * Date: Nov 2020
 ********************************************
 * images from unsplash.com | canva.com
 ******************************************** */ -->

<!doctype html>
<html lang="en">
  {{> head}}
  <body>
        {{> header user}}
       
        <!-- Heading --> 
        {{#if room}}     
        <div class="container pt-4 pb-1">
            <h3>{{room.title}}</h3>
            <div class="row">
                <div class="col-6 text-left pl-0">                 
                    <span>Hosted by <b>{{room.host}}</b>  |  </span>
                    <span><a href="#" class="link"><i class="fas fa-map-marker-alt"></i>  {{room.city}} </a></span>                                             
                </div>
                {{!-- <div class="col-6 text-right">
                    <span><a href="#" class="link"><i class="fas fa-share-square"></i> Share</a></span>
                    <span><a href="#" class="link"><i class="far fa-heart"></i> Save</a></span>
                </div> --}}
            </div>                     
        </div> 
        
        <!-- Room images -->
        <div class="container pt-4 pb-4">
            <div class="flex-row d-flex">
                {{#if photos.[2]}}
                <div class="col-8 mr-2 p-0">
                    <img src="/images/{{photos.[0]}}" onerror="this.src='/photos/{{photos.[0]}}'" alt="{{photos.[0]}}" class="img-fluid h-100 w-100">
                </div>
                <div class="col-4 p-0">
                    <div class="row mb-2">
                        <img src="/images/{{photos.[1]}}" onerror="this.src='/photos/{{photos.[1]}}'"alt="{{photos.[1]}}" class="img-fluid">
                    </div>
                    <div class="row mt-2">
                        <img src="/images/{{photos.[2]}}" onerror="this.src='/photos/{{photos.[2]}}'" alt="{{photos.[2]}}" class="img-fluid">
                    </div>
                </div>
                {{else}} 
                    {{#if photos.[1]}}
                    <div class="col-6 mr-1 p-0">
                        <img src="/images/{{photos.[0]}}" onerror="this.src='/photos/{{photos.[0]}}'" alt="{{photos.[0]}}" class="img-fluid h-100 w-100">
                    </div>
                    <div class="col-6 ml-1 p-0">
                        <img src="/images/{{photos.[1]}}" onerror="this.src='/photos/{{photos.[1]}}'" alt="{{photos.[1]}}" class="img-fluid h-100 w-100">
                    </div>
                    {{else}}
                    <div class="col-12">
                        <img src="/images/{{photos.[0]}}" onerror="this.src='/photos/{{photos.[0]}}'" alt="{{photos.[0]}}" class="img-fluid h-100 w-100">
                    </div>
                    {{/if}}
                {{/if}}    
            </div>  
        </div>                                                                        
        <!-- two column section -->
        <div class="container mb-5">
            <div class="row pt-1 pb-3">
                <div class="col-lg-8 mb-4 my-lg-auto align-items-start">
                    <div class="host-info">
                        <div class="host-info-text">
                            <h4>{{room.title}} hosted by <b>{{room.host}}</b></h4>
                            <p> {{room.guest}} guest | {{room.type}} | <b>${{room.price}} CAD/night</b></p>                            
                        </div>                        
                    </div>
                    <div class="room-info">
                        <hr>
                        
                        <div class="room-features">
                            {{#if room.clean}}
                                <br>
                                <h5><i class="fas fa-hand-sparkles"></i> Enhanced Clean</h5>
                                <br>
                            {{/if}}
                            {{#if room.selfCheckIn}}
                                <h5><i class="fas fa-door-open"></i> Self Check-in</h5>
                                <br>
                            {{/if}}                            
                        </div>
                        <div class="room-desc"                        >
                            {{room.description}}
                        </div>                      
                    </div>
                </div>
                
                <!-- Book now form -->
                <div class="col-lg-4 mb-4 my-lg-auto">
                    <div class="book-now-wrapper">
                        <h4> Add dates for prices</h4>
                        <form class="needs-validation" action="/booking" method="post" novalidate>
                            <input type="hidden"   name="user_id" value="{{user._id}}">
                            <input type="hidden"  name="room_id" value="{{room._id}}"> 
                            <input type="hidden" name="room_location" value="{{room.city}}">                   
                            <div class="form-group">
                                <label for="check_in">CHECK-IN</label>
                                <input id="check_in" name="check_in" type="date" class="form-control" tabindex="1" required>
                                <div class="invalid-feedback">Please choose a date</div>
                            </div>
                            <div class="form-group">
                                <label for="check_out">CHECKOUT</label>
                                <input id="check_out" name="check_out" type="date" class="form-control" tabindex="2" required>
                                <div class="invalid-feedback">Please choose a date</div>
                            </div>                            
                            <div class="form-group">
                                <label for="guest">GUESTS</label>
                                <input id="guest" name="guest" type="number" min="1" class="form-control" placeholder="Add guests" tabindex="3" required>
                                <div class="invalid-feedback">Please choose number of guests</div>
                            </div>
                            <div class="form-group">                             
                                <input name="search" type="submit" class="btn" id="book-now-btn" tabindex="4" value="Book Now">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        {{else}}
        <h3>No Detail</h3>
        {{/if}}
             
       
       {{> footer}}
       {{> script}}
    </body>
</html>
